<!doctype html>
<html lang="ru">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		{% block styles %}
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		{% endblock %}
		<title>Личный кабинет</title>
	</head>
	<body>
		<header id="header" class="header">
			<div class = "container">
				<div class = "row">
					<div class = "col">
						{% with messages = get_flashed_messages() %}
							{% if messages %}
									<div class="alert alert-primary" role="alert">
									{% for message in messages %}
										{{ message }}<br>
									{% endfor %}
									</div>
							{% endif %}
									<div class="alert alert-primary d-none" role="alert" id = "ajaxAlert">
									</div>
						{% endwith %}
					</div>
				</div>
				<div class="row">
					<div class="col text-right">
						<h3 class = "my-0 mr-md-auto font-weight-normal">
							<a href="/index"><img src="http://admin.pushkind.com/static/logo.png" alt="Logo"></a>
						</h3>
					</div>
					<div class="col text-left">
						<h3 class = "my-0 mr-md-auto font-weight-normal pt-3">
							Карта
						</h3>
					</div>
				</div>
			</div>
		</header>

		{% block content %}{% endblock %}
		{% block scripts %}
			<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js" integrity="sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i" crossorigin="anonymous"></script>	
		{% endblock %}
	</body>
</html>