{% extends "base.html" %}
{% set tags_list = current_user.GetTags() %}
{% block content %}


<div class="container my-1 border bg-light">
	<div class="row">
		<div class="col">
			{% for tag in tags_list %}
				{% if tag.id in active_tag %}
					{% set rem_active_tags = active_tag |reject('equalto', tag.id)| list %}
					<a href="{{ url_for('main.ShowIndex', active_tag = rem_active_tags) }}" class="badge badge-success tag font-weight-bold">{{ tag.name }}</a>
				{% else %}
					{% set add_active_tags = active_tag + [tag.id] %}
					<a href="{{ url_for('main.ShowIndex', active_tag = add_active_tags) }}" class="badge badge-primary tag">{{ tag.name }}</a>
				{% endif %}
			{% endfor %}
		</div>
		<div class="col text-right">
			{{ current_user.email }}(<a href="{{ url_for('auth.PerformLogout') }}">выйти</a>)
		</div>
	</div>
</div>
<div class="container my-1">
	<div class="row">
		<div class="col">
			<form method="GET" action="{{ url_for('main.ShowIndex') }}">
				<input type="search" name="search" placeholder="Поиск по материалам..." class="form-control" value="{{ search if search is not none }}" list="subtagsList">
			</form>
		</div>
	</div>
</div>
<div class="my-1 border bg-light container">
	{% if active_tag|length > 0 or search is not none %}
		<div class="row my-1">
			<div class="col-md-2">
				Материал:
			</div>
			<div class="col-md">
				<select class="form-control" id="subTagSelect">
					
					
					{% if active_tag|length > 0 %}
						<option value="all">Все</option>
						{% for subtag in current_user.GetActiveSubtags(active_tag) %}
							<option value="{{ subtag.name }}">{{ subtag.name }}</option>
						{% endfor %}
					{% else %}
						{% for subtag in current_user.GetSearchedSubtags(search) %}
							<option value="{{ subtag.name }}">{{ subtag.name }}</option>
						{% endfor %}
					{% endif%}
					
					{% for subtag in subtags %}
						<option value="{{ subtag.name }}">{{ subtag.name }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="col-md-2 text-right">
				<button id="resetMap" class="btn btn-link">Сброс маршрутов</button>
			</div>
		</div>
		<div class="row my-1">
			<div class="col-md-10">
				Расстояние не более: <span id="distanceLabel">500</span> км
				<input type="range" class="form-control-range" id="distanceRange" min="10" max="10000" value="500" onchange="FilterRoutesByDistance()">
			</div>
			<div class="col-md-2 text-right">
				<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapsedForm" aria-expanded="false" aria-controls="collapsedForm">
					Добавить метку
				</button>
			</div>
		</div>
	{% else%}
		<div class="row my-1">
			<div class="col-md-10">
				&nbsp;
			</div>
			<div class="col-md-2 text-right">
				<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapsedForm" aria-expanded="false" aria-controls="collapsedForm">
					Добавить метку
				</button>
			</div>
		</div>
	{% endif %}
	<div class="collapse"  id="collapsedForm">
		<form method="POST" action="{{ url_for('main.AddPlacemark', active_tag = active_tag) }}" id="addPlacemarkForm">
			{{ add_form.csrf_token(id='addCSRF') }}
			<div class="form-row">
				<div class="form-group col-md-6">
				  {{ add_form.longitude.label }}
				  {{ add_form.longitude(class_ = 'form-control') }}
				</div>
				<div class="form-group col-md-6">
				  {{ add_form.latitude.label }}
				  {{ add_form.latitude(class_ = 'form-control') }}
				</div>
			</div>
			<div class="form-group">
				{{ add_form.name.label }}
				{{ add_form.name(class_ = 'form-control', autofocus = '') }}
			</div>
			<div id="collapsedTagsForm">
				<div class="form-group">
					{{ add_form.description.label }}
					{{ add_form.description(class_ = 'form-control') }}
				</div>
				<div class="form-group">
					{{ add_form.price_url.label }}
					{{ add_form.price_url(class_ = 'form-control', placeholder='https://drive.google.com/drive') }}
				</div>
				<div class = "dynamic-tags"></div>
			</div>
			<div class="form-group">
				<div class="form-check">
					{{ add_form.is_vendor(class_ = 'form-check-input') }}
					{{ add_form.is_vendor.label(class_ = 'form-check-label') }}
				</div>
			</div>
			{{ add_form.submit(class_ = 'btn btn-primary mb-1') }}
		</form>
	</div>
</div>


<div class="my-1 container-fluid d-flex h-100 flex-column">
	<div class="row flex-fill d-flex">
		<div class="col" id="map">
		</div>
	</div>
</div>

<div class="modal fade" id="editPlacemarkModal" tabindex="-1" role="dialog" aria-labelledby="editPlacemarkLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="editPlacemarkLabel">Редактирование метки</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form method="POST" action="{{ url_for('main.EditPlacemark', active_tag = active_tag) }}">
				<div class="modal-body">
					{{ edit_form.csrf_token(id='editCSRF') }}
					{{ edit_form.id(class_ = 'd-none', hidden = '') }}
					<div class="form-group">
						{{ edit_form.name.label }}
						{{ edit_form.name(class_ = 'form-control') }}
					</div>
					<div class="form-group">
						{{ edit_form.description.label }}
						{{ edit_form.description(class_ = 'form-control') }}
					</div>
					<div class="form-group">
						{{ edit_form.price_url.label }}
						{{ edit_form.price_url(class_ = 'form-control', placeholder='https://drive.google.com/drive') }}
					</div>
					<h6>Цены (с доставкой и НДС):</h6>
					<div id = "editPricesGroup" class="dynamic-tags"></div>
				</div>
				<div class="modal-footer">
					{{ edit_form.submit(class_ = 'btn btn-primary') }}
					<a class="btn btn-info" id="editSync" href="{{ url_for('main.SyncPlacemark', id='replace_me', active_tag = active_tag) }}"><img class="octicon" src="http://admin.pushkind.com/static/octicons/file-symlink-file.svg" alt="Синхронизация"></a>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
				</div>
			</form>
		</div>
	</div>
</div>


<div class="d-none" id="templates">
	<div id="addTagTemplate" data-index="0" class="tagsHierarchy">
		<div class="form-row my-1">
			<div class="col-10">
				<input type="text" class="form-control tag" placeholder="Тег" name="tags-_-name" required list="tagsList">
			</div>
			<div class="col-2 text-right">
				<a class="btn btn-danger removeTagButton"><img class="octicon" src="http://admin.pushkind.com/static/octicons/dash.svg" alt="Удалить"></a>
				<a class="btn btn-primary appendTagButton"><img class="octicon" src="http://admin.pushkind.com/static/octicons/plus.svg" alt="Добавить"></a>
			</div>	
		</div>
		<div class="tagsHierarchy">
			<div class="form-row my-1" data-subIndex ="0">
				<div class="col-1">
					&nbsp;
				</div>
				<div class="col-4">
					<input type="text" class="form-control subtag" placeholder="Материал" name="tags-_-prices-0-name" required list="subtagsList">
				</div>
				<div class="col-3">
					<input type="number" class="form-control price" step="any" placeholder="Цена" name="tags-_-prices-0-price" required>
				</div>
				<div class="col-2">
					<input type="text" class="form-control units" placeholder="Единицы" name="tags-_-prices-0-units">
				</div>
				<div class="col-2">
					<a class="btn btn-danger removeSubTagButton"><img class="octicon" src="http://admin.pushkind.com/static/octicons/dash.svg" alt="Удалить"></a>
					<a class="btn btn-info appendSubTagButton"><img class="octicon" src="http://admin.pushkind.com/static/octicons/plus.svg" alt="Добавить"></a>
				</div>	
			</div>
		</div>
	</div>
	<div id="placemarkBaloonTemplate">
		<div></div>
		<div>Цены (с доставкой и НДС):</div>
		<div></div>
		<a href="{{ url_for('main.RemovePlacemark', active_tag = active_tag, id = 'replace_me') }}" class="badge badge-danger" onclick="return confirm('Удалить?')">
			<img class="octicon" src="http://admin.pushkind.com/static/octicons/x.svg" alt="Удалить">
		</a>&nbsp;
		<a class="badge badge-primary" data-toggle="modal" data-target="#editPlacemarkModal">
			<img class="octicon" src="http://admin.pushkind.com/static/octicons/pencil.svg" alt="Редактировать">
		</a>
	</div>
</div>


<datalist id="tagsList" class="d-none">
	{% for tag in tags_list %}
		<option value="{{tag.name}}">
	{% endfor %}
</datalist>

<datalist id="subtagsList" class="d-none">
	{% for tag in tags_list %}
		{% for subtag in tags_list[tag] %}
			<option value="{{subtag.name.split(' / ')[1]}}">
		{% endfor %}
	{% endfor %}
</datalist>


{% endblock %}

{% block scripts %}
<script src="https://api-maps.yandex.ru/2.1/?apikey=a72d01fe-d9fe-4c9a-b10f-00df800ff9b5&lang=ru_RU"></script>
<script>
	//
	//Globals
	//
	var	vendorsList = [],
		endpointsList = [],
		routesList = [],
		myMap;

	//
	//Events handlers
	//
	$(function() {
	
	
	
		$('input[type=search]').on('search', function () {
			$(this).parent().submit();
		});
		
		$("#addPriceURL").change(function(){
			if (!$(this).val()){
				var content = $('#addTagTemplate').clone();
				content.removeAttr('id');
				content.find('input').each(function(){
					var name = $(this).attr('name').replace('_', 0);
					$(this).attr('name', name);
				});
				$('#collapsedTagsForm').children('.dynamic-tags').append(content);
			} else {
				$('#collapsedTagsForm').children('.dynamic-tags').empty();
			}
		});
		
		var dynamicTags = $('.dynamic-tags');
		$('#collapsedTagsForm').hide();
		$('#addIsVendor').prop('checked', false);
		dynamicTags.on('click', '.appendTagButton', AddTag);
		dynamicTags.on('click', '.removeSubTagButton', function(event){
			var target = $(event.target).closest('.form-row');
			console.log(target.siblings());
			if (target.siblings().length > 0)
				target.remove();
		});
		dynamicTags.on('click', '.removeTagButton', function(event){
			var target = $(event.target);
			var parent = target.closest('.tagsHierarchy');
			if (parent.parent().children().length > 1)
				parent.remove();
		});
		dynamicTags.on('click', '.appendSubTagButton', function(event){
			var target = $(event.target);
			var parent = target.closest('.tagsHierarchy');
			var content = parent.find('.form-row').last();
			var lastIndex = Number(content.attr('data-subIndex'));
			content = content.clone();
			content.attr('data-subIndex', lastIndex + 1);
			content.find('input').each(function(){
				var name = $(this).attr('name').replace('-prices-'+lastIndex+'-', '-prices-'+(lastIndex + 1)+'-');
				$(this).attr('name', name);
				$(this).removeAttr('readonly');
			});			
			parent.append(content);
		});
		$('#addIsVendor').on('click', function() {
			if($(this).is(':checked')){
				$('#collapsedTagsForm').show();
				var content = $('#addTagTemplate').clone();
				content.removeAttr('id');
				content.find('input').each(function(){
					var name = $(this).attr('name').replace('_', 0);
					$(this).attr('name', name);
				});
				$('#collapsedTagsForm').children('.dynamic-tags').append(content);
			} else {
				$('#collapsedTagsForm').hide();
				$('#collapsedTagsForm').children('.dynamic-tags').empty();
				$('#addPriceURL').val('');
			}
		});
		
		$('#resetMap').on('click', ResetMap);
		$('#subTagSelect').on('change', ResetMap);
		$('#editPlacemarkModal').on('shown.bs.modal', function (e) {
			index = e.relatedTarget.getAttribute('data-placemarkIndex');
			var editPrices = $('#editPricesGroup');
			editPrices.empty();
			if (e.relatedTarget.getAttribute('data-placemarkType') == 'vendor')
			{
				placemark = vendorsList[index];
				var template = $('#addTagTemplate');
				var i = 0;
				for (var tag in placemark.template['tags'])
				{
					var content = template.clone();
					content.removeAttr('id');
					var input = content.find('input:first');
					input.val(tag);
					input.attr('readonly', true);
					var name = input.attr('name').replace('_', i);
					input.attr('name', name);
					subContent = content.find('.tagsHierarchy>.form-row');
					var lastIndex = Number(subContent.attr('data-subIndex'));
					subContent.attr('data-subIndex', lastIndex + 1);
					for (var subtag in placemark.template['tags'][tag])
					{
						var input = subContent.find('input.subtag');
						var name = input.attr('name').replace('_', i).replace('-prices-'+lastIndex+'-name', '-prices-'+(lastIndex + 1)+'-name');
						input.attr('name', name);
						input.attr('readonly', true);
						input.val(subtag.split(' / ')[1]);
						var input = subContent.find('input.price');
						var name = input.attr('name').replace('_', i).replace('-prices-'+lastIndex+'-price', '-prices-'+(lastIndex + 1)+'-price');
						input.attr('name', name);
						input.val(placemark.template['tags'][tag][subtag][0]);
						var input = subContent.find('input.units');
						var name = input.attr('name').replace('_', i).replace('-prices-'+lastIndex+'-units', '-prices-'+(lastIndex + 1)+'-units');
						input.attr('name', name);
						input.val(placemark.template['tags'][tag][subtag][1]);
						if (lastIndex < Object.keys(placemark.template['tags'][tag]).length - 1)
						{
							subContent = subContent.clone();
							content.append(subContent);
							lastIndex++
							subContent.attr('data-subIndex', lastIndex + 1);
						}
					}
					i++;
					editPrices.append(content);
				}
				$('#editId').val(placemark.template.id);
				$('#editName').val(decodeEntities(placemark.template.name));
				$('#editDescription').val(placemark.template.description);
				$('#editPriceURL').val(placemark.template.price_url);
				var syncBtn = $("#editSync");
				var urlForSync = syncBtn.attr("href").replace('replace_me', placemark.template.id);
				syncBtn.attr("href", urlForSync);
			}
		});
	});

	function ResetMap(){
		routesList.forEach(function(route){
			route.destroy();
		});
		routesList = [];
		endpointsList.forEach(function(endpoint){
			endpoint.options.set("visible", true);
		});
		var currentSubtag = $('#subTagSelect').val();
		vendorsList.forEach(function(vendor){
			if (currentSubtag == 'all' || currentSubtag in vendor.template['prices'])
			{
				vendor.options.set('preset', 'islands#redStretchyIcon');
				vendor.active = true;
			}
			else
			{
				vendor.options.set('preset', 'islands#grayStretchyIcon');
				vendor.active = false;
			}
			vendor.properties.set('iconContent', '');
		});
	}
	
	ymaps.ready(function(){
		var endpointsTemplateList = [
			{% for placemark in current_user.EndpointPlacemarks() %}
				{{ placemark|safe }},
			{% endfor %}
		];
		var vendorsTemplateList = [
			{% for placemark in current_user.VendorsPlacemarks(active_tag, search) %}
				{{ placemark|safe }},
			{% endfor %}
		];
   
		myMap = new ymaps.Map("map", {
			center: [56.84, 60.60],
			zoom: 4
		});
		
		myMap.events.add('click', function(e){
			var coords = e.get('coords');
			$('#addLongitude').val(coords[0]);
			$('#addLatitude').val(coords[1]);
		});
		
		vendorsTemplateList.forEach(AddVendorObject);
		endpointsTemplateList.forEach(AddEndpointObject);
	});
	
	//
	//Utility functions
	//
	function AddEndpointObject(placemark, index)
	{
		var endpoint = new ymaps.Placemark(placemark.coordinates, {iconContent:placemark.name}, {preset: 'islands#blueStretchyIcon'});
		myMap.geoObjects.add(endpoint);
		endpoint.events.add('click', OnPlacemarkClick);
		endpoint.template = placemark;
		endpointsList.push(endpoint);
	}
	
	function AddVendorObject(placemark, index)
	{
		var content = $('#placemarkBaloonTemplate').clone();
		content.find('div:first').text(placemark.description);
		var elem = content.find('a:first');
		var urlForRemove = elem.attr('href').replace('replace_me', placemark.id);
		elem.attr('href', urlForRemove);
		elem = content.find('a:last');
		elem.attr('data-placemarkType', 'vendor');
		elem.attr('data-placemarkIndex', index);
		var elem = content.find('div:last');
		for (var tag in placemark['tags'])
		{
			for (var subtag in placemark['tags'][tag])
				elem.append(subtag + ': <b>'+ placemark['tags'][tag][subtag][0]+'</b> '+ placemark['tags'][tag][subtag][1] + '<br>');
		}
		var vendor = new ymaps.Placemark(placemark.coordinates, {balloonContentHeader: placemark.name, balloonContentBody:content.html()});
		myMap.geoObjects.add(vendor);
		vendor.template = placemark;
		vendorsList.push(vendor);
		var currentSubtag = $('#subTagSelect').val();
		if (currentSubtag == 'all' || currentSubtag in placemark['prices'])
		{
			vendor.options.set('preset', 'islands#redStretchyIcon');
			vendor.active = true;
		}
		else
		{
			vendor.options.set('preset', 'islands#grayStretchyIcon');
			vendor.active = false;
		}
	}
	
	function OnPlacemarkClick(e)
	{
		if (vendorsList['length'] > 0)
		{
			var target = e.get('target');
			endpointsList.forEach(function(endpoint){
				if (endpoint != target) 
					endpoint.options.set("visible", false);
			});
			routesList.forEach(function(route){
				route.destroy();
			});
			routesList = [];
			
			vendorsList.forEach(function(vendor){
				if (vendor.active)
				{
					var route = new ymaps.multiRouter.MultiRoute({
					referencePoints: [
						vendor.geometry.getCoordinates(),
						target.geometry.getCoordinates()
					]
					}, {boundsAutoApply: false, wayPointVisible:false});
					route.vendor = vendor;
					myMap.geoObjects.add(route);
					route.events.add('update', FilterRoutesByDistance);
					routesList.push(route);
				}
			});
			
		}
	}
	
	function FilterRoutesByDistance()
	{
		var filterDistance = Number($('#distanceRange').val());
		$('#distanceLabel').text(filterDistance);
		filterDistance *= 1000;
		var currentSubtag = $('#subTagSelect').val();
		var minIndex = 0;
		var minimalPrice = null;
		if (currentSubtag == "all")
		{
			vendorsList.forEach(function(vendor){
				vendor.options.set('preset', 'islands#redStretchyIcon');
				vendor.active = true;
			});
			routesList.forEach(function(route, index){
				var activeRoute = route.getActiveRoute();
				if (activeRoute)
				{
					var currentDistance = activeRoute.properties.get("distance").value;
					route.activeDistance = currentDistance;
					
					if (filterDistance > currentDistance)
					{
						var header = route.vendor.template['name']+' ('+Math.round(currentDistance/1000.0)+' км)';
						route.vendor.properties.set('iconContent', header);
						route.options.set("visible", true);
						if (currentDistance < routesList[minIndex].activeDistance)
						{
							minIndex = index;
						}
					}
					else
					{
						route.options.set("visible", false);
						route.vendor.properties.set('iconContent', '');
					}
				}
			});		
		}
		else
		{
			vendorsList.forEach(function(vendor){
				if (currentSubtag in vendor.template['prices'])
				{
					vendor.options.set('preset', 'islands#redStretchyIcon');
					vendor.active = true;
				}
				else
				{
					vendor.options.set('preset', 'islands#grayStretchyIcon');
					vendor.active = false;
				}
			});
			routesList.forEach(function(route, index){
				var activeRoute = route.getActiveRoute();
				if (activeRoute)
				{
					var currentDistance = activeRoute.properties.get("distance").value;
					route.activeDistance = currentDistance;
					
					if (filterDistance > currentDistance)
					{
						route.options.set("visible", true);
						var header = route.vendor.template['name']+' ('+Math.round(currentDistance/1000.0)+' км / <b>'+route.vendor.template['prices'][currentSubtag][0]+'</b> '+route.vendor.template['prices'][currentSubtag][1]+')';
						route.vendor.properties.set('iconContent', header);
						if (minimalPrice === null || route.vendor.template['prices'][currentSubtag][0] < minimalPrice)
						{
							minimalPrice = route.vendor.template['prices'][currentSubtag][0];
							minIndex = index;
						}
						else if (route.vendor.template['prices'][currentSubtag][0] == minimalPrice)
						{
							if (currentDistance < routesList[minIndex].activeDistance)
							{
								minIndex = index;
							}
						}
					}
					else
					{
						route.options.set("visible", false);
						route.vendor.properties.set('iconContent', '');
					}
				}
			});		
		}
		if (routesList.length > 0)
			routesList[minIndex].vendor.options.set('preset', 'islands#greenStretchyIcon');
	}

	function AddTag(event){
		var content = $("#addTagTemplate").clone();
		var parent = $(event.target).closest('.dynamic-tags');
		var lastTag = parent.children('.tagsHierarchy:last');
		var tagsIndex = Number(lastTag.attr('data-index')) + 1;
		content.attr('data-index', tagsIndex);
		content.find('input').each(function(){
			var name = $(this).attr('name').replace('_', tagsIndex);
			$(this).attr('name', name);
		});
		content.removeAttr('id');
		parent.append(content);
	}
	
	var decodeEntities = (function () {
        var doc = document.implementation.createHTMLDocument("");
        var element = doc.createElement('div');
        function getText(str) {
            element.innerHTML = str;
            str = element.textContent;
            element.textContent = '';
            return str;
        }
        function decodeHTMLEntities(str) {
            if (str && typeof str === 'string') {
                var x = getText(str);
                while (str !== x) {
                    str = x;
                    x = getText(x);
                }
                return x;
            }
        }
        return decodeHTMLEntities;
    })();
	
</script>
{% endblock %}